<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alkemy Challenge</title>
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Alkemy Labs</a>
    </div>
  </nav>
  <%- include('./partials/messages') %>

    <div class="container title mt-5 p-4 bg-light">
      <div class="row">
        <div class="col-md-6 m-auto">
          <h2 class="text-center">Alkemy Labs Node.js Challenge</h2>
          <h3 class="text-center mt-3">
            <strong>Joaquín Casado Farall</strong>
          </h3>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="btn-container m-auto">
        <a href="/login" class="btn btn-primary btn-lg">Login</a>
        <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
      </div>
    </div>

    <footer class="mt-5">
      <div class="container-fluid p-4 bg-primary">
        <p class="brand text-center text-light">
          © Alkemy Challenge March 2021
        </p>
      </div>
    </footer>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
</body>

</html>